.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  padding: 100px 156px;
}

.footer .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.footer .features-text {
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}
